body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #fff;
}
body {
  -webkit-perspective: 100px;
          perspective: 100px;
}
.info {
  margin: 20px;
  padding: 0px 20px;
  background-color: #ccc;
  display: inline-block;
}
.trunk,
.trunk div {
  background: #15cc40;
  will-change: transform;
  width: 10vmin;
  height: 1vmin;
  position: absolute;
  margin-left: -1vmin;
  -webkit-animation-name: rot;
          animation-name: rot;
  -webkit-animation-duration: 2.26562s;
          animation-duration: 2.26562s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: 0.5vmin 0.5vmin;
          transform-origin: 0.5vmin 0.5vmin;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.trunk.trunk,
.trunk div.trunk {
  bottom: 0;
  left: 50%;
  -webkit-animation-name: rot-root;
          animation-name: rot-root;
  -webkit-animation-duration: 2.46428s;
          animation-duration: 2.46428s;
}
.trunk >div,
.trunk div >div {
  top: 0;
  left: 10vmin;
  -webkit-animation-duration: calc((inherit / 2));
          animation-duration: calc((inherit / 2));
}
.trunk >div:nth-child(2),
.trunk div >div:nth-child(2) {
  -webkit-animation-name: rot-inv;
          animation-name: rot-inv;
  -webkit-animation-duration: 1.777351213486541s;
          animation-duration: 1.777351213486541s;
}
@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(15deg) scale(0.72);
            transform: rotate(15deg) scale(0.72);
  }
  to {
    -webkit-transform: rotate(45deg) scale(0.72);
            transform: rotate(45deg) scale(0.72);
  }
}
@keyframes rot {
  from {
    -webkit-transform: rotate(15deg) scale(0.72);
            transform: rotate(15deg) scale(0.72);
  }
  to {
    -webkit-transform: rotate(45deg) scale(0.72);
            transform: rotate(45deg) scale(0.72);
  }
}
@-webkit-keyframes rot-inv {
  from {
    -webkit-transform: rotate(-45deg) scale(0.72);
            transform: rotate(-45deg) scale(0.72);
  }
  to {
    -webkit-transform: rotate(-15deg) scale(0.72);
            transform: rotate(-15deg) scale(0.72);
  }
}
@keyframes rot-inv {
  from {
    -webkit-transform: rotate(-45deg) scale(0.72);
            transform: rotate(-45deg) scale(0.72);
  }
  to {
    -webkit-transform: rotate(-15deg) scale(0.72);
            transform: rotate(-15deg) scale(0.72);
  }
}
@-webkit-keyframes rot-root {
  from {
    -webkit-transform: rotate(-95deg);
            transform: rotate(-95deg);
  }
  to {
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
  }
}
@keyframes rot-root {
  from {
    -webkit-transform: rotate(-95deg);
            transform: rotate(-95deg);
  }
  to {
    -webkit-transform: rotate(-85deg);
            transform: rotate(-85deg);
  }
}
