/* =Elements style
---------------------- */

.letter-holder {
  padding: 16px;
  align-content: center;
}

.letter {
    display: inline-block;
    font-size: 14px;
    color: #777;
}


/* =Animate the stuff
------------------------ */

.load-6 .letter {
    animation-name: loading6;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.l-1 {animation-delay: .48s;}
.l-2 {animation-delay: .6s;}
.l-3 {animation-delay: .72s;}
.l-4 {animation-delay: .84s;}
.l-5 {animation-delay: .96s;}
.l-6 {animation-delay: 1.08s;}
.l-7 {animation-delay: 1.2s;}
.l-8 {animation-delay: 1.32s;}
.l-9 {animation-delay: 1.44s;}
.l-10 {animation-delay: 1.56s;}


@keyframes loading6 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
