* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
P{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  transform:translateY(190px)
}
.scene {
  background-color: LightCyan;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 550px;
  overflow-x: hidden;
  position: relative;
  transform: scale(0.3,0.3);
}

.scene > * {
  position: absolute;
}

@-webkit-keyframes abductCow {
  from {
    -webkit-transform: translate(300px, 400px) scale(1);
            transform: translate(300px, 400px) scale(1);
  }
  to {
    -webkit-transform: translate(300px, 100px) scale(0.2);
            transform: translate(300px, 100px) scale(0.2);
  }
}

@keyframes abductCow {
  from {
    -webkit-transform: translate(300px, 400px) scale(1);
            transform: translate(300px, 400px) scale(1);
  }
  to {
    -webkit-transform: translate(300px, 100px) scale(0.2);
            transform: translate(300px, 100px) scale(0.2);
  }
}
.cow {
  width: 400px;
  min-height: 300px;
  position: relative;
  top: 20px;
  /*animation: abductCow 4s 0s linear both;*/
}

.cow > * {
  position: absolute;
}

.cow .head {
  width: 200px;
  min-height: 240px;
  z-index: 2;
}

.cow .head > * {
  position: absolute;
}

.cow .ears {
  width: 200px;
  min-height: 120px;
}

.cow .ear {
  position: absolute;
  min-height: 60px;
  width: 100px;
  top: 30px;
}

.cow .ear:nth-child(2) {
  right: 0;
}

.cow .ear {
  width: 100px;
  min-height: 30px;
  overflow: hidden;
}

.cow .ear > div {
  border: 3px solid SaddleBrown;
  background-color: Peru;
  width: 100px;
  min-height: 100px;
  border-radius: 50px;
  position: absolute;
}

.cow .face {
  border-top-left-radius: 33.3333333333px;
  border-top-right-radius: 33.3333333333px;
  background-color: Peru;
  left: 50px;
  width: 100px;
  min-height: 240px;
  overflow: hidden;
}

.cow .face > * {
  position: absolute;
}

.cow .face .shadow {
  width: 50px;
  min-height: 240px;
  background-color: SaddleBrown;
  right: 0;
}

.cow .eye {
  background-color: transparent;
  border-bottom: 6.25px solid black;
  width: 25px;
  min-height: 25px;
  border-radius: 25px;
  top: 60px;
  -webkit-animation: blink 2s 0s linear infinite alternate both;
          animation: blink 2s 0s linear infinite alternate both;
}

@-webkit-keyframes blink {
  0% {
    border-bottom: 6.25px solid black;
  }
  20%, 100% {
    border-bottom: 25px solid black;
  }
}

@keyframes blink {
  0% {
    border-bottom: 6.25px solid black;
  }
  20%, 100% {
    border-bottom: 25px solid black;
  }
}
.cow .eye:nth-child(3) {
  left: 20px;
}

.cow .eye:nth-child(2) {
  right: 20px;
}

.cow .nose {
  border-radius: 48px;
  background-color: PeachPuff;
  width: 200px;
  min-height: 72px;
  top: 168px;
}

.cow .nostril {
  background-color: LightCoral;
  width: 40px;
  min-height: 40px;
  border-radius: 40px;
  position: absolute;
  top: 13.3333333333px;
}

.cow .nostril:nth-child(1) {
  left: 28.5714285714px;
}

.cow .nostril:nth-child(2) {
  right: 28.5714285714px;
}

.cow .body {
  width: 320px;
  min-height: 300px;
  right: 0;
  z-index: 1;
}

.cow .body > * {
  position: absolute;
}

.cow .torso {
  border-radius: 16px;
  background-color: Peru;
  width: 320px;
  min-height: 210px;
  top: 18.8235294118px;
  overflow: hidden;
  z-index: 3;
}

.cow .spot {
  background-color: SaddleBrown;
  border-radius: 50px;
  position: absolute;
}

.cow .spot:nth-child(1) {
  left: 112px;
  top: 60px;
  -webkit-transform: rotate(87deg);
          transform: rotate(87deg);
  width: 42.8571428571px;
  min-height: 33.3333333333px;
}

.cow .spot:nth-child(2) {
  left: 300px;
  top: 90px;
  width: 33.3333333333px;
  min-height: 50px;
}

.cow .tail {
  width: 33.3333333333px;
  min-height: 66.6666666667px;
  border: 8px solid SaddleBrown;
  border-top-right-radius: 33.3333333333px;
  border-left: none;
  border-bottom: none;
  right: -33.3333333333px;
  top: 50px;
}

.cow .legs {
  width: 320px;
  min-height: 90px;
  bottom: 0;
}

.cow .leg {
  width: 18.8235294118px;
  min-height: 90px;
  background-color: Peru;
  border-bottom: 9px solid black;
  position: absolute;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-animation: flailLegs 1s 0s infinite alternate linear both;
          animation: flailLegs 1s 0s infinite alternate linear both;
}

.cow .leg:nth-child(1) {
  left: 18.8235294118px;
}

.cow .leg:nth-child(2) {
  left: 56.4705882353px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.cow .leg:nth-child(3) {
  right: 56.4705882353px;
}

.cow .leg:nth-child(4) {
  right: 18.8235294118px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  z-index: 2;
}

@-webkit-keyframes flailLegs {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes flailLegs {
  from {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  to {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}
.cow .utters {
  background-color: hotpink;
  width: 90px;
  height: 45px;
  border-radius: 45px;
  position: absolute;
  right: 18.8235294118px;
}

.barn {
  width: 40px;
  min-height: 80px;
  top: 260px;
  overflow: hidden;
  -webkit-animation: moveBarn 34s 1s infinite linear both;
          animation: moveBarn 34s 1s infinite linear both;
}

.barn .roof, .barn .building {
  background-color: firebrick;
  width: 40px;
  min-height: 40px;
  position: absolute;
}

.barn .roof {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.barn .building {
  top: 20px;
}

.barn .building .door {
  border: 2px solid white;
  border-bottom: none;
  background-color: black;
  width: 20px;
  min-height: 20px;
  margin-left: 10px;
}

@-webkit-keyframes moveBarn {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(750px);
            transform: translateX(750px);
  }
}

@keyframes moveBarn {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    -webkit-transform: translateX(750px);
            transform: translateX(750px);
  }
}
.ground {
  background-color: Green;
  min-height: 250px;
  width: 500px;
  overflow: hidden;
}

.ground .clumps {
  width: 80%;
  margin-left: 10%;
  min-height: 250px;
  position: relative;
}

.ground .clump {
  width: 20px;
  min-height: 20px;
  border: 2px solid DarkGreen;
  border-left: transparent;
  border-top: transparent;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  -webkit-animation: moveGround 12s 1s linear infinite both;
          animation: moveGround 12s 1s linear infinite both;
}

.ground .clump:nth-child(1) {
  top: 40px;
  left: 50px;
}

.ground .clump:nth-child(2) {
  top: 140px;
  left: 380px;
}

.ground .clump:nth-child(3) {
  top: 200px;
  left: 240px;
}

@-webkit-keyframes moveGround {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes moveGround {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}
